/* CSS Document */

.no-right-column #content {
margin-right : 0;
}

ul.menu li{
list-style-type : square;
padding-left : 0;
}
#content {
border : none;
}

#content .readmore img {
margin-bottom : 10px;
}

#sidebar-left {
margin : 0 20px 0 5px;
}

#sidebar-left {
width : 218px;
}


#sidebar-left .block {;
border : none;
}
#right-column .block {
border : none;
}
#footer .block {
border : none;
}

#logo {
margin-bottom : 0;
}
#site-name {
margin-bottom : 0;
}