/* CSS Document */

.no-right-column #content {
width : 700px;
}
#content {
border : none;
}

#content .readmore img {
margin-bottom : 10px;
}

#sidebar-left .block {;
border : none;
}
#right-column .block {
border : none;
}
#footer .block {
border : none;
}


#container {
margin : 0 10px 0 0;
}
#logo {
margin-bottom : 0;
}
#site-name {
margin-bottom : 0;
}
#primary {
margin-bottom : 0;
}
#secondary {

margin : 0 10px 10px 10px;
}