.no-right-column #content {
width : 700px;
}

#content {
width : 520px;
border : none;
}
#sidebar-left .block {;
border : none;
}
#right-column .block {
border : none;
}
#footer .block {
border : none;
}