/* CSS Document */
/* 

960px grid
40px columns
20px guttering
10px margins

Neutral Colours :
#89CCBB
#CCFFD3

Dark Colours:
#00010D - text - tint of blue
#010D00 - header - tint of green

Sunset Colours
#F29F05
#402A01
#F23005

*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding:0;
	border:0;
	vertical-align:baseline;
	font-size: 100.01%;
	background:transparent
}
imput, select, th, td li li, li p, td p, blockquote p { font-size : 1em;}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
body {
font : 62.5% Verdana, Tahoma, Geneva, sans-serif;
line-height : 1.7em;
background : #00010D;
}
h1 {
font : 1.8em "Helvetica Neue", Helvetica, Arial, sans-serif;
margin-top : 20px;
margin-bottom : 0.944444444em;
background : black;
width : 60%;
text-align : center;
border : 1px solid #89CCBB;
-webkit-box-shadow:0 0 10px #F23005; 
-moz-box-shadow:0 0 10px #F23005; 
box-shadow:0 0 10px #F23005; 
border-radius: 0 10px 10px 0;
-moz-border-radius: 10px 10px 0 0;
-webkit-border-top-right-radius : 10px;
-webkit-border-top-left-radius : 10px;
}
h2 {
font : 1.8em "Helvetica Neue",  Helvetica, Arial, sans-serif;
margin-bottom : 1.11111111em;
color : #010D00;
}
h2 {
font : 1.7em "Helvetica Neue",  Helvetica, Arial, sans-serif;
margin-bottom : 1.17647059em;
color : #010D00;
}
h3 {
font : 1.6em "Helvetica Neue",  Helvetica, Arial, sans-serif;
margin-bottom : 1.25em;
color :#010D00;
}
h4 {
font : 1.5em "Helvetica Neue",  Helvetica, Arial, sans-serif;
margin-bottom : 1.33333333em;
color : #010D00;
}
h5 {
font : 1.4em "Helvetica Neue",  Helvetica, Arial, sans-serif;
margin-bottom : 1.42857143em;
color : #010D00;
}
h6 {
font : 1.3em "Helvetica Neue",  Helvetica, Arial, sans-serif;
margin-bottom : 1.53846154em;
color : #010D00;
}
#content .node .content ol,
#content  .node .content ul {
font-size : 1.2em;
margin : 0 0 1.41666667em 60px;
}
blockquote {
margin-left : 60px;
padding-left : 10px;
border-left : 1px solid #3F4F4F;
}
blockquote p{
background : url("images/white-background.gif") repeat-y center center;
}
q {
background : #ffffff;
}
q:before,
q:after {
content:'"';
}
strong {
font-weight : bold;
}
em {
font-style : italic;
}
sub {
vertical-align : sub;
font-size : 0.98em;
}
sup {
vertical-align : super;
font-size : 0.98em;
}
strike, s {
text-decoration:line-through;
}
cite {
font-style : italic;
font-weight : bold;
}
abbr, acronym {
color: #000000; 
text-decoration: none; 
border-bottom: 0;
} 
#content .node .content img {
float : left;
margin : 10px 10px 10px 0;
}

/* Menu in blocks */

ul.menu li{
padding : 0;
list-style-image: none;
list-style-type : none;
padding-left : 20px;
margin-bottom : 5px;
}
ul.menu li ul li{
margin-top : 5px;
font-size : 1em;
}
ul.menu li a {
padding : 1px;
}
.block [class*="leaf"] {
background: url("images/x.gif") no-repeat top left;
}
.block [class*="expanded"] {
background: url("images/plus.gif") no-repeat top left;
}
.block [class*="collapsed"] {
background: url("images/plus.gif") no-repeat top left;
}
.block a[class*="active"] {
background: url("images/arrow-left.gif") no-repeat top right;
padding-right : 20px;
}
#wrapper {
width : 960px;
margin : 10px auto;
padding : 10px 0 10px 0;
background : #000000;
color : #ffffff;
border : 1px solid #F23005;
}
#header {
width : 940px;
margin : 10px;
clear : both;
background : url("images/header.jpg") no-repeat center bottom;
}
#breadcrumb {
margin-bottom : 10px;
font-size : 1.1em;
padding-left : 5px;
color : #010D00;
}
.breadcrumb {
margin : 0;
padding : 0;
}
.secondary {
margin-bottom : 10px;
background : #000000;
border-top : 1px solid #F23005;
border-bottom : 1px solid #F23005;
font-size : 1.1em;
text-align : right;
padding : 5px 0 5px 0;
}
#header .secondary a{
color : #cccccc;
padding : 5px 0 5px 0;
}
#header .secondary a:hover{
color :#ffffff;
}
#header .secondary a[href^="http:"]{
padding-right: 25px;
background: url("images/red-arrow.gif") no-repeat right;
}
#logo-title {
height : 200px;
}
#logo {
margin : 0 0 10px 20px;
width : 220px;
float : left;
}
#logo img {
margin-left : 10px;
-webkit-transition-property: opacity;
-webkit-transition-duration: 1s;
}
#logo img:hover {
opacity: 0.6;
cursor : pointer;
}
#site-name {
width : 700px;
float : left;
margin-bottom : 10px;
}
#primary {
font-size : 1.3em;
margin-bottom : 10px;
clear : both;
background : #000000;
border : 1px solid #F29F05;
text-align : right;
}
#inner-primary {
border : 1px solid #89CCBB;
padding : 5px 0 5px 0;
}
#primary a {
color : #cccccc;
padding : 2px 0 2px 0;
}
#primary a:hover {
color : #ffffff;
}
#primary a[href^="http:"]{
padding-right: 25px;
background: url("images/red-arrow.gif") no-repeat right;
}
#container {
width : 700px;
margin : 0 10px 10px 0;
float : left;
}
#mission {
width : 700px;
margin-bottom : 10px;
font-size : 1.3em;
background : #402A01;
color : #ffffff;
border-radius : 5px;
-moz-border-radius : 5px;
-webkit-border-radius : 5px;
-webkit-box-shadow:0 0 10px #ffffff; 
-moz-box-shadow:0 0 10px #ffffff; 
box-shadow:0 0 10px #ffffff; 
}
#mission a {
color : #ffffff;
}
#site-slogan {
font-size : 1.3em;
margin-bottom : 10px;
text-align : center;
background : url("images/slogan-background.gif") repeat-x center center;
color : #010D00;
border : 1px solid #ffffff;
}
#content {
width : 518px;
float : left;
margin-right : 20px;
background : url("images/background.gif") repeat-y center right;
color : #00010D;
border : 1px solid #402A01;
-webkit-box-shadow:0 0 10px #ffffff; 
-moz-box-shadow:0 0 10px #ffffff; 
box-shadow:0 0 10px #ffffff; 
}
.no-right-column #content {
width : 698px;
}

/* Left sidebar */

#sidebar-left {
width : 220px;
float : left;
margin : 0 20px 0 10px;
color : #00010D;
}
#sidebar-left a {
color : #000000;
}
#sidebar-left a:visited {
color : #666666;
}
#sidebar-left a:hover {
color : #F23005;
background : #ffffff;
}
#sidebar-left .block {
background : url("images/background.gif") repeat-y center left;
margin-bottom : 10px;
padding : 0 1px 10px 1px;
border-radius : 5px;
-moz-border-radius : 5px;
-webkit-border-radius : 5px;
border : 1px solid #402A01;
-webkit-box-shadow:0 0 10px #ffffff; 
-moz-box-shadow:0 0 10px #ffffff; 
box-shadow:0 0 10px #ffffff; 
height : 1%;
}
#sidebar-left .content {
background : url("images/white-background.gif") repeat-y center center;
margin : 0 5px 0 5px;
padding : 1px 1px 0 1px;
border-left : 1px solid #402A01;
border-right :  1px solid #402A01;
}
#sidebar-left .block-title{
font : 1.8em "Helvetica Neue", Helvetica, Arial, sans-serif;
color : #010D00;
margin-bottom : 0.944444444em;
}
#sidebar-left .item-list ul li{
list-style-type : circle;
}
#sidebar-left .content {
font-size : 1.2em;
}

/* Right sidebar */

#right-column {
width : 160px;
float : left;
color : #00010D;
}
#right-column a {
color : #000000;
}
#right-column a:visited {
color : #666666;
}
#right-column a:hover {
color : #F23005;
background : #ffffff;
}
#right-column .block {
background : url("images/background.gif") repeat-y center left;
margin-bottom : 10px;
padding : 0 1px 10x 1px;
border-radius : 5px;
border : 1px solid #402A01;
-moz-border-radius : 5px;
-webkit-border-radius : 5px;
-webkit-box-shadow:0 0 10px #ffffff; 
-moz-box-shadow:0 0 10px #ffffff; 
box-shadow:0 0 10px #ffffff; 
height : 1%;
}
#right-column .content {
background : url("images/white-background.gif") repeat-y center center;
margin : 0 5px 10px 5px;
padding : 1px 1px 0 1px;
border-left : 1px solid #402A01;
border-right :  1px solid #402A01;
}
#right-column .block-title{
font : 1.8em "Helvetica Neue", Helvetica, Arial, sans-serif;
color : #010D00;
margin-bottom : 0.944444444em;
}
#right-column .item-list ul li{
list-style-type : circle;
}
#right-column .content {
font-size : 1.2em;
}

/* Content */

#content .block a {
color : #000000;
}
#content .block a:visited {
color : #666666;
}
#content .block a:hover {
color : #F23005;
background : #ffffff;
}
#content .block {
background : url("images/background.gif") repeat-y center right;
margin-bottom : 10px;
padding : 0 1px 10px 1px;
}
#content .block .content {
background : url("images/white-background.gif") repeat-y center center;
margin : 0 5px 10px 5px;
padding : 1px 1px 0 1px;
border-left : 1px solid #402A01;
border-right :  1px solid #402A01;
}
#content .block .block-title{
font : 1.8em "Helvetica Neue", Helvetica, Arial, sans-serif;
color : #010D00;
margin-top : 0.944444444em;
margin-bottom : 0.944444444em;
}
#content .block .item-list ul li{
list-style-type : circle;
}
#content .block .content {
font-size : 1.2em;
}

#secondary {
width : 940px;
margin : 10px;
clear : both;
margin-bottom : 10px;
background : #000000;
border-top : 1px solid #F23005;
border-bottom : 1px solid #F23005;
font-size : 1.1em;
text-align : right;
padding : 5px 0 5px 0;
}
#secondary a{
color : #cccccc;
padding : 2px 0 2px 0;
}
#secondary a:hover{
color :#ffffff;
}
#secondary a[href^="http:"]{
padding-right: 25px;
background: url("images/red-arrow.gif") no-repeat right;
}
#inner-secondary {
border : 1px solid #402A01;
padding : 5px 0 5px 0;
}
.front #content {
border-radius : 5px;
-moz-border-radius : 5px;
-webkit-border-radius : 5px;
padding-bottom : 10px;
}
.front #content a {
color : #000000;
}
.front #content a:visited {
color : #666666;
}
.front #content a:hover {
color : #F23005;
}
.front #content .content a:hover {
color : #F23005;
background : #ffffff;
}
.front .meta {
width : 99px;
margin-right : 20px;
float : left;
font-size : 1.1em;
padding-left : 1px;
}
.front .meta ul li {
padding-left : 0;
}
.front .node {
border-bottom : 1px dashed #010D00;
}
.front .node-content {
width : 398px;
float : left;
}
.front .submitted,
.front .terms,
.front .lower-node-links{
display : block;
margin-bottom :  1.54545455em;
padding-bottom :  1.54545455em;
border-bottom : 1px dashed #010D00;
padding-left : 1px;
}
.front .lower-node-links ul li {
display : list-item;
}
.front .node {
margin-bottom : 10px;
}
.front .content p {
font-size : 1.2em;
margin-bottom : 1.41666667em;
}
.front .node .content > p:first-child {
background : url("images/white-background.gif") repeat-y center center;
}
.front .node-title a{
font : 1.8em "Helvetica Neue", Helvetica, Arial, sans-serif;
display : block;
margin-bottom : 0.944444444em;
color : #010D00;
}
.front .node-title a:hover:after {
content: url("images/black-arrow.gif");
margin-left : 2px;
}
.front .node-title a:hover {
color : #F23005;
}
.front .readmore {
display : block;
text-align : right;
margin-right : 2px;
-webkit-transition-property: opacity;
-webkit-transition-duration: 1s;
}
.front .readmore:hover {
opacity: 0.6;
filter: alpha(opacity = 60);
cursor : pointer;
}

/* Not front */

.not-front #content {
border-radius : 5px;
-moz-border-radius : 5px;
-webkit-border-radius : 5px;
padding-bottom : 10px;
}
.not-front #content a {
color : #000000;
}
.not-front #content a:visited {
color : #666666;
}
.not-front #content a:hover {
color : #F23005;
}
.not-front #content .content a:hover {
color : #F23005;
background : #ffffff;
}
.not-front .meta {
width : 99px;
margin-right : 20px;
float : left;
font-size : 1.1em;
padding-left : 1px;
}
.not-front .meta ul li {
padding-left : 0;
}
.not-front .node {
border-bottom : 1px dashed #010D00;
}
.not-front .node-content {
width : 400px;
float : left;
}
.not-front .meta .submitted,
.not-front .meta .terms,
.not-front .meta .lower-node-links{
display : block;
margin-bottom :  1.54545455em;
padding-bottom :  1.54545455em;
border-bottom : 1px dashed #010D00;
padding-left : 1px;
}
.not-front .node {
margin-bottom : 10px;
}
.not-front .content p {
font-size : 1.2em;
margin-bottom : 1.41666667em;
}
.not-front .content {
padding : 0 2px 0 2px;
}
.not-front .node-bottom-links {
font-size : 1.1em;
margin-bottom : 1.54545455em;
}

/* Taxonomy */

.taxonomy-term-description {
font-size : 1.3em;
}
.page-taxonomy #content {
border-radius : 5px;
-moz-border-radius : 5px;
-webkit-border-radius : 5px;
padding-bottom : 10px;
}
.page-taxonomy #content a {
color : #000000;
}
.page-taxonomy #content a:visited {
color : #666666;
}
.page-taxonomy #content a:hover {
color : #F23005;
}
.page-taxonomy #content .content a:hover {
color : #F23005;
background : #ffffff;
}
.page-taxonomy .meta {
width : 99px;
margin-right : 20px;
float : left;
font-size : 1.1em;
padding-left : 1px;
}
.page-taxonomy .meta ul li {
padding-left : 0;
}
.page-taxonomy .node {
border-bottom : 1px dashed #010D00;
}
.page-taxonomy .node-content {
width : 398px;
float : left;
}
.page-taxonomy .submitted,
.page-taxonomy .terms,
.page-taxonomy .lower-node-links{
display : block;
margin-bottom :  1.54545455em;
padding-bottom :  1.54545455em;
border-bottom : 1px dashed #010D00;
padding-left : 1px;
}
.page-taxonomy .lower-node-links ul li {
display : list-item;
}
.page-taxonomy .node {
margin-bottom : 10px;
}
.page-taxonomy .content p {
font-size : 1.2em;
margin-bottom : 1.41666667em;
}
.page-taxonomy .node .content > p:first-child {
background : url("images/white-background.gif") repeat-y center center;
}
.page-taxonomy .node-title a{
font : 1.8em "Helvetica Neue", Helvetica, Arial, sans-serif;
display : block;
margin-bottom : 0.944444444em;
color : #010D00;
}
.page-taxonomy .node-title a:hover {
color : #F23005;
}
.page-taxonomy .node-title a:hover:after {
content: url("images/red-arrow.gif");
margin-left : 2px;
}
.page-taxonomy .readmore {
display : block;
text-align : right;
margin-right : 2px;
-webkit-transition-property: opacity;
-webkit-transition-duration: 1s;
}
.page-taxonomy .readmore:hover {
opacity: 0.6;
filter: alpha(opacity = 60);
cursor : pointer;
}

/* Blog */

.page-blog #content {
border-radius : 5px;
-moz-border-radius : 5px;
-webkit-border-radius : 5px;
padding-bottom : 10px;
}
.page-blog #content a {
color : #000000;
}
.page-blog #content a:visited {
color : #666666;
}
.page-blog #content a:hover {
color : #F23005;
}
.page-blog #content .content a:hover {
color : #F23005;
background : #ffffff;
}
.page-blog .meta {
width : 99px;
margin-right : 20px;
float : left;
font-size : 1.1em;
padding-left : 1px;
}
.page-blog .meta ul li {
padding-left : 0;
}
.page-blog .node {
border-bottom : 1px dashed #010D00;
}
.page-blog .node-content {
width : 398px;
float : left;
}
.page-blog .submitted,
.page-blog .terms,
.page-blog .lower-node-links{
display : block;
margin-bottom :  1.54545455em;
padding-bottom :  1.54545455em;
border-bottom : 1px dashed #010D00;
padding-left : 1px;
}
.page-blog .lower-node-links ul li {
display : list-item;
}
.page-blog .node {
margin-bottom : 10px;
}
.page-blog .content p {
font-size : 1.2em;
margin-bottom : 1.41666667em;
}
.page-blog .node .content > p:first-child {
background : url("images/white-background.gif") repeat-y center center;
}
.page-blog .node-title a{
font : 1.8em "Helvetica Neue", Helvetica, Arial, sans-serif;
display : block;
margin-bottom : 0.944444444em;
color : #010D00;
}
.page-blog .node-title a:hover {
color : #F23005;
}
.page-blog .node-title a:hover:after {
content: url("images/red-arrow.gif");
margin-left : 2px;
}
.page-blog .readmore {
display : block;
text-align : right;
margin-right : 2px;
-webkit-transition-property: opacity;
-webkit-transition-duration: 1s;
}
.page-blog .readmore:hover {
opacity: 0.6;
filter: alpha(opacity = 60);
cursor : pointer;
}


.no-right-column .node-content {
width : 578px;
float : left;
}

/* Comments */


#comments .submitted,
#comments .comment-title{
font-size : 1.1em;
padding : 0 2px 0 2px;
margin-bottom : 1.54545455em;
margin-top : 1.54545455em;
}
#comments .comment ul li {
font-size : 1.2em;
display : inline;
padding : 0 2px 0 2px;
}
#comments .comment ul {
margin-bottom : 1.41666667em;
}
#comment-form {
margin : 0 1px 0 1px;
font-size : 1.2em;
background : url("images/main-background.gif") no-repeat bottom left;
}
#comment-form label {
font-weight : normal;
font-style : italic;
}
p.box-title {
font-size : 1.2em;
}
#comment-form .form-text,
#comment-form textarea,
#comment-form .form-submit{
border : 1px solid #00010D;
}
#comment-form .form-submit {
background : #ffffff;
}
#comment-form .collapsible p a {
font-size : 0.9em;
}
#comment-form .collapsible a {
margin-bottom : 10px;
}
/* Contact */

#contact-mail-page{
margin : 0 1px 0 1px;
font-size : 1.2em;
background : url("images/main-background.gif") no-repeat bottom left;
}
#contact-mail-page {
font-weight : normal;
font-style : italic;
}
#contact-mail-page .form-text,
#contact-mail-page textarea,
#contact-mail-page .form-submit{
border : 1px solid #00010D;
}
#contact-mail-page .form-submit {
background : #ffffff;
}

/* #search-theme-form */

#search-theme-form {
text-align : center;
margin-bottom : 10px;
}
#search-theme-form .form-text {
border : 1px solid #89CCBB;
vertical-align : top;
}

/* log in box */

#user-login-form .form-required {
display : none;
}
#user-login-form .form-text {
border : 1px solid #89CCBB;
}
#user-login-form .form-submit {
-webkit-transition-property: opacity;
-webkit-transition-duration: 1s;
}
#user-login-form .form-submit:hover {
opacity: 0.6;
filter: alpha(opacity = 60);
cursor : pointer;
}

/* aggregator */

#aggregator {
font-size : 1.2em;
padding : 0 2px 0 2px;
}
#aggregator ul {
margin-bottom : 1.41666667em;
}
#aggregator p {
margin-bottom : 1.41666667em;
}

/* forum */

#forum {
padding : 0 2px 0 2px;
font-size : 1.2em;
}
#forum table {
width : 100%;
}
#forum .icon img{
margin-right : 3px;
}
.forum-topic-navigation {
font-size : 1.1em;
}

/* Search */

#search-form {
font-size : 1.2em;
padding : 0 2px 0 2px;
}
#search-form .container-inline {
text-align : center;
}
#search-form label {
font-weight : normal;
font-style : italic;
text-align : center;
}
#search-form .form-text {
border : 1px solid #89CCBB;
}
#search-form .form-submit {
background : #ffffff;
border : 1px solid #89CCBB;
}

/* Search block */

#search-block-form .form-text {
border : 1px solid #402A01;
}


/* User list */

.profile {
padding : 0 2px 0 2px;
font-size : 1.2em;
}

/* tracker */

#tracker {
font-size : 1.2em;
padding : 0 2px 0 2px;
}
#tracker table {
margin-bottom : 10px;
}

/* Poll */

.poll {
clear : both;
font-size : 1em;
padding : 0 2px 0 2px;
}
.poll .form-submit {
border : 1px solid #CCFFD3;
background : #ffffff;
margin-bottom : 10px;
}

/* Styling for Drupal attachments section */

#attachments {
font-size : 1.2em;
margin-bottom : 1.66666667em;
margin-left : 60px;
}
#attachments th {
font : 1em "Helvetica Neue", Helvetica, Arial, sans-serif;
font-style : italic;
}
#attachments tbody {
border : 5px ridge #CCFFD3;
background : #00E8AE;
}
#attachments td {
padding: 5px 2px 5px 2px;
}
#attachments .odd {
border-bottom : 1px solid #010D00;
background : white;
padding-bottom : 5px;
}
#attachments .even {
border-bottom : 1px solid #010D00;
}
#content #content-content #attachments .even a {
background-color : #ffffff;
}

/* PDF file extension 

.pdf

*/

#content #attachments a[href$='.pdf'] {
  padding-right: 25px;
  background: url("images/doc_pdf.png") no-repeat right;
}

/* Audio file extensions 

.aac, .cda, .fla, .flac, .m3u, .mp4, .m4a, .m4p, .mp3, .ogg, .wma, .wmv

*/

#content #attachments a[href$='.aac'], #content #attachments a[href$='.cda'], #content #attachments a[href$='.fla'], #content #attachments a[href$='.flac'], #content #attachments a[href$='.m3u'], #content #attachments a[href$='.mp4'], #content #attachments a[href$='.m4a'], #content #attachments a[href$='.m4p'], #content #attachments a[href$='.mp3'], #content #attachments a[href$='.ogg'], #content #attachments a[href$='.wma'], #content #attachments a[href$='.wmv']{
  padding-right: 25px;
  background: url("images/doc_music.png") no-repeat right;
}

/* HTML file extensions 

.htm, .html

*/

#content #attachments a[href$='.html'], #content #attachments a[href$='.htm'] {
  padding-right: 25px;
  background: url("images/html.png") no-repeat right;
}

/* Text file extensions 

.text, .txt, .info

*/

#content #attachments a[href$='.txt'], #content #attachments a[href$='.text'], #content #attachments a[href$='.info'] {
  padding-right: 25px;
  background: url("images/page_white_text.png") no-repeat right;
}

/* Video file extensions 

.avi, .m4v, .mov, .mp4, .mpg, 

*/

#content #attachments a[href$='.avi'], #content #attachments a[href$='.m4v'], #content #attachments a[href$='.mov'], #content #attachments a[href$='.mp4'], #content #attachments a[href$='.mpg'] {
  padding-right: 25px;
  background: url("images/film.png") no-repeat right;
}

/* Document file extensions

.doc, .dotm, .dotx, .sxw

*/

#content #attachments a[href$='.doc'], #content #attachments a[href$='.dotm'], #content #attachments a[href$='.dotx'], #content #attachments a[href$='.sxw'] {
  padding-right: 25px;
  background: url("images/page_white_word.png") no-repeat right;
}

/* Presentation file extensions

.potx, .pps, .ppsm, .ppsx, .ppt, .pptm, .pptx

*/

#content #attachments a[href$='.potx'], #content #attachments a[href$='.pps'], #content #attachments a[href$='.ppsx'], #content #attachments a[href$='.ppt'], #content #attachments a[href$='.pptm'], #content #attachments a[href$='.pptx'] {
  padding-right: 25px;
  background: url("images/page_white_powerpoint.png") no-repeat right;
}


/* Spreadsheet file extensions

.ods, .scx, .xls, .xlsm, .xlsx

*/

#content #attachments a[href$='.ods'], #content #attachments a[href$='.scx'], #content #attachments a[href$='.xls'], #content #attachments a[href$='.xlsm'], #content #attachments a[href$='.xlsx'] {
  padding-right: 25px;
  background: url("images/doc_excel_csv.png") no-repeat right;
}

/* Script file extensions

.asp, .aspx, .css, .inc, .ini, .js, .json, .lib, .php, .php3, .rc, 

*/

#content #attachments a[href$='.asp'], #content #attachments a[href$='.aspx'], #content #attachments a[href$='.css'], #content #attachments a[href$='.ini'], #content #attachments a[href$='.inc'],
#content #attachments a[href$='.js'], #content #attachments a[href$='.json'],  #content #attachments a[href$='.lib'], #content #attachments a[href$='.php'], #content #attachments a[href$='.php3'] , #content #attachments a[href$='.rc']{
  padding-right: 25px;
  background: url("images/script.png") no-repeat right;
}

/* Compressed file extensions

.7z, .7zip, .ace, .arj, .gz, .rar, .zix, .zip

*/

#content #attachments a[href$='.7z'], #content #attachments a[href$='.7zip'], #content #attachments a[href$='.ace'], #content #attachments a[href$='.arj'], #content #attachments a[href$='.gz'], #content #attachments a[href$='.zix'], #content #attachments a[href$='.zip'] {
  padding-right: 25px;
  background: url("images/compress.png") no-repeat right;
}

/* Graphics file extensions

.bmp, .eps, .gif, .ico, .iff, .png, .jpeg, .jpg, .svg, 

*/

#content #attachments a[href$='.bmp'], #content #attachments a[href$='.esp'], #content #attachments a[href$='.gif'], #content #attachments a[href$='.iff'], #content #attachments a[href$='.png'], #content #attachments a[href$='.jpeg'], #content #attachments a[href$='.jpg'], #content #attachments a[href$='.svg'] {
  padding-right: 25px;
  background: #ffffff url("images/images.png") no-repeat right;
}

/* Contact Form */

#contact-mail-user {
font-size : 1.2em;
padding : 0 2px 0 2px;
background : url("images/main-background.gif") no-repeat bottom left;
}
#contact-mail-user label {
font-weight : normal;
font-style : italic;
}
#contact-mail-user .form-text {
border : 1px solid #402A01;
}
#contact-mail-user .form-submit {
border : 1px solid #402A01;
background : #ffffff;
}

/* Edit profile */

#user-profile-form {
font-size : 1.2em;
padding : 0 2px 0 2px;
}
#user-profile-form label {
font-weight : normal;
font-style : italic;
}
#user-profile-form .description {
font-size : 1em;
}
#user-profile-form .form-text {
border : 1px solid #402A01;
}

/* pagination */

ul.pager {
margin : 0 auto;
padding : 5px 1px 5px 1px;
font-size : 1.2em;
background : #ffffff;
width : 80%;
border : 1px solid #402A01;
border-radius : 5px;
-moz-border-radius : 5px;
-webkit-border-radius : 5px;
}

/* tabs */

#content .tabs {
font-size : 1.1em;
background : transparent;
}

/* Node edit */

.node-type-list {
font-size : 1.2em;
padding : 0 2px 0 2px;
}
.node-type-list dd {
margin-bottom : 1.41666667em;
}
#node-form {
font-size : 1.2em;
padding : 0 2px 0 2px;
}
#node-form label{
font-weight : normal;
font-style : italic;
}
#node-form a {
margin-bottom : 1.41666667em;
}
#node-form .description {
font-size : 1em;
}
#node-form .teaser-button,
#node-form .form-submit{
border : 1px solid #402A01;
background : #ffffff;
}
.attachments {
overflow : auto;
}
#node-form .collapsible {
margin-bottom : 10px;
}

/* User login form */


#user-login-form img,
#user-login-form .form-submit{
margin-bottom : 1em;
}
#user-login-form .form-text  {
border : 1px solid #600000;
}
#user-login-form ul li {
font-size : 0.9em;
}
#user-login-form .form-required {
display : none;
}

/* #user-register */

#user-register {
margin : 0 40px 0 60px;
background : url("images/main-background.gif") no-repeat bottom left;
}
#user-register label {
font-size : 1.2em;
font-weight : normal;
font-style : italic;

}
#user-register .form-submit {
background : #f0f0f0;
border : 1px solid #402A01;
cursor : pointer;
}
#user-register .description {
font-size : 1.1em;
}
#user-register .form-text {
border : 1px solid #402A01;
margin-bottom : 1.41666667em;
}

/* #user-login */


#user-login {
margin : 0 40px 0 60px;
background : url("images/main-background.gif") no-repeat bottom left;
}

#user-login label {
font-size : 1.2em;
font-weight : normal;
font-style : italic;
}
#user-login .form-submit {
background : #f0f0f0;
border : 1px solid #402A01;
cursor : pointer;
}
#user-login .description {
font-size : 1.1em;
}
#user-login .form-text {
border : 1px solid #402A01; 
margin-bottom : 1.41666667em;
}

/* #user-pass */


#user-pass {
margin : 0 40px 0 60px;
background : url("images/main-background.gif") no-repeat bottom left;
}
#user-pass label {
font-size : 1.2em;
font-weight : normal;
font-style : italic;
}
#user-pass .form-submit {
background : #f0f0f0;
border : 1px solid #402A01;
cursor : pointer;
}
#user-pass .form-text {
border : 1px solid #402A01;
margin-bottom : 1.41666667em;
}
input[type=text]:hover {  
background-color:#ffffcc;  
border: 1px solid #000000;  
} 
input[type=password]:hover {  
background-color:#ffffcc;  
border: 1px solid #000000;   
} 
textarea:hover {  
background-color:#ffffcc;  
border: 1px solid #000000;   
} 

/* Compose tips 
*/

#content ul.tips  {
font-size : 1em;
}
#filter-filter-0 ,
#filter-filter-1,
#filter-filter-2,
#filter-filter-3,
#filter-filter-4{
overflow : auto;
font-size : 1.2em;
margin-bottom : 1.41666667em;
padding : 0 2px 0 2px;
}
#filter-filter-0 code {
font-size : 1.2em;
}
#main #content ul {
margin-left : 20px;
}
#main #content ul li strong {
font-size : 1.2em;
margin-bottom : 1.41666667em;
padding : 0 2px 0 2px;
}
#comment-form .description ul.tips{
font-size : 1.1em;
}


/* Footer */

#footer {
color : #00010D;
}

#footer a {
color : #000000;
}
#footer a:visited {
color : #666666;
}
#footer a:hover {
color : #F23005;
}
#footer .block {
background : url("images/background.gif") repeat-y center center;
margin-bottom : 10px;
padding : 0 1px 10px 1px;
border-radius : 5px;
border : 1px solid #402A01;
-moz-border-radius : 5px;
-webkit-border-radius : 5px;
-webkit-box-shadow:0 0 10px #ffffff; 
-moz-box-shadow:0 0 10px #ffffff; 
box-shadow:0 0 10px #ffffff; 
height : 1%;
}
#footer .block .content {
background : url("images/white-background.gif") repeat-y center center;
margin : 0 5px 10px 5px;
padding : 1px 1px 0 1px;
border-left : 1px solid #402A01;
border-right :  1px solid #402A01;
}
#footer .block-title{
font : 1.8em "Helvetica Neue", Helvetica, Arial, sans-serif;
color : #010D00;
margin-bottom : 0.944444444em;
}
#footer .item-list ul li{
list-style-type : circle;
}
#footer .content {
font-size : 1.2em;
}
#footer-wrapper {
width : 940px;
margin : 10px;
clear : both;
}

.no-footer-three #footer-one {
width : 460px;
}

.no-footer-three #footer-two {
width : 460px;
margin-right : 0;
}

#footer-one {
width : 280px;
margin : 0 10px 20px 0;
margin-right : 20px;
margin-bottom : 10px;
float : left;
}
#footer-two {
width : 340px;
margin-right : 20px;
margin-bottom : 10px;
float : left;
}
#footer-three {
width : 280px;
margin-bottom : 10px;
float : left;
}
#footer-message {
width : 920px;
margin : 10px;
text-align : center;
clear : both;
font-size : 1.3em;
background : #402A01;
color : #ffffff;
padding : 10px;
border-radius : 5px;
-moz-border-radius : 5px;
-webkit-border-radius : 5px;
-webkit-box-shadow:0 0 10px #ffffff; 
-moz-box-shadow:0 0 10px #ffffff; 
box-shadow:0 0 10px #ffffff; 
}
#footer-message a{
color : #ffffff;
}

/* Admin */

.messages {
font-size : 1.3em;
width : 80%;
margin : 0 auto;
}
#switchtheme-switch-form {
font-size : 1.2em;
text-align : center;
}
#switchtheme-switch-form .description {
font-size : 1em;
}
#switchtheme-switch-form label {
font-weight : normal;
font-style : italic;
}
#switchtheme-switch-form .form-submit {
background : #ffffff;
color : #f00000;
border : 1px solid #f00000;
}
#first-time  {
font-size : 1.2em;
line-height : 1.41666667em;
margin-left : 20px;
}
#admin-wrapper {
width : 960px;
background : #C0BDAC;
margin : 10px auto;
background : #f0f0f0 ;
border : 1px solid #f00000;
padding-top : 1px;
}
#admin-wrapper #content {
font-size : 1.2em;
line-height : 1.41666667em;
}
#admin-wrapper #container .help {
font-size : 1em;
}
#admin-wrapper #container .description {
font-size : 1em;
}
#admin-wrapper #container  .block {
font-size : 1em;
}
#designer {
width : 960px;
margin : 10px auto;
padding-bottom : 10px;
font-size : 1.1em;
text-align : right;
color : #cccccc;
}
#designer a {
color : #cccccc;
}